/* Tabs in result table */
.nav-tabs .close-tab {
    font-size: 12px;
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

.nav-tabs .close-tab:hover {
    color: #333;
}

/* Downloadable examples for both text and files */
.download-example-container {
    display: flex;
    align-items: center;
}

.download-example-item {
    display: inline-block;
    margin-left: 10px;
}

input[type="radio"]:disabled + span {
  cursor: not-allowed !important;
  color: #FF0000 !important;
}

.input-container {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Space between the text box and the instructions */
    max-width: 100%;
}

.markdown-instructions {
    flex-grow: 0; /* Prevent the Markdown block from growing */
    max-width: 30%; /* Allow shrinking but set a max width */
    word-wrap: break-word; /* Ensure text wraps properly */
    font-size: 14px; /* Adjust font size for readability */
    line-height: 1.5; /* Spacing between lines */
}

.nav-tabs .nav-link.active {
    background-color: #2c3e50; /* Example: AliceBlue */
    color: #FFF !important; /* Optional: Change text color */
    border-color: #dee2e6 #dee2e6 #f0f8ff; /* Adjust border color */
}
